numpy==1.24.3
flask[async]
gunicorn[gthread]
retrying==1.3.3
requests
pandas==2.1.3
torch
scikit-learn==1.3.0  # For MinMaxScaler
aiohttp==3.8.1  # Async HTTP client for making asynchronous requests
joblib==1.3.2